.aboutusbanner {
    display: block;
    overflow: hidden;
  }
  
  .aboutusbanner img {
    max-width: 100%;
  }
  
  .aboutusheading {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .aboutuspara {
    text-align: center;
    max-width: 70%;
    margin-left: 15%;
  }
  
  .aboutuspizza {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
  }