.navlinks-cart {
    margin-top: 30px;
}

.navlinks-cart hr {
    width: 50%;
    margin-left: 380px;
    display: inline-block;
  }
  
  .navlinks-cart li {
    float: left;
    padding: 10px;
    margin-right: 10px;
    font-weight: 700;
    font-size: large;
  }
  .navlinks-cart ul {
    margin-left: 505px;
  }