.contactusbanner {
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  .contactusbanner img {
    max-width: 100%;
  }
  
  .contactusform form input, textarea, button {
    display: flex;
    flex-direction: column;
    color: #495057;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"] {
      padding: 10px;
      margin-bottom: 15px;
      width: 300px;
      border: 1px solid black;
      font-family: inherit;
    }
  
  .contactusform textarea {
    resize: none;
    width: 300px;
    font-family: inherit;
    height: auto;
    overflow: auto;
    margin: 0;
    padding: 10px;
    border: 1px solid black;
  }
  
  .contactusform {
    margin-left: 20%;
    display: flex;
  }
  
  .contactusform button {
    margin-top: 15px;
    margin-bottom: 30px;
    width: 205px;
    height: 40px;
    margin-left: 49px;
    font-size: large;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    border: 1px solid rgb(163, 153, 153);
    background-color: #ffc60b;
    padding: 10px 39px;
  }

  .contactuslinks {
    display: inline-block;
    color: black;
    margin-left: 200px;
    margin-top: 200px;
  }

  .contactuslinks a {
    color: black;
    font-size: 1.5rem;
  }

  .contactuslinks h3 {
    text-transform: uppercase;
    font-size: 2rem;
  }