.dessertsbanner {
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
.dessertscenterimage img {
    max-width: 100%;
}

.dessertscenterimage img {
  margin-top: 70px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  display: block;
}

.dessertstatement p {
  text-align: center;
  margin-bottom: 40px;
}

