header {
    display: flex;
    background-color: black;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

header a img {
    height: 75px;
    margin: 6px 0 0 170px;
}

nav ul li a{
    color: white;
}

header ul li {
    display: inline-block;
    padding: 0 20px;
}

header ul a {
    transition: all 0.3s ease 0s;
}

header ul a:hover {
    color: #0088a9;
}

nav{
    margin-right: 200px;
}