.discount {
    background-color: black !important;
    color: white;
    font-size: small;
    text-align: center;
}

header {
    display: flex;
    background-color: white;
    height: 85px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #fd0000;
}

header a img {
    height: 75px;
    margin: 6px 0 0 170px;
}

nav ul li a{
    color: black;
    text-transform: uppercase;
    font-size: large;
}

nav ul li a::after {
    content: "";
    background-color: #ffc60b;
    height: 2px;
    width: 0;
    margin: auto;
    display: block;
}

nav ul li a:hover::after {
    width: 100%;
    transition: 0.3s linear;
}

header ul li {
    display: inline-block;
    padding: 0 20px;
}

header ul a {
    transition: 0.3s ease 0s;
}

nav{
    margin-right: 580px;
}

@media only screen and (max-width: 768px) {
    header a img {
    height: 75px;
    margin: 6px 0 0 100px;
}
nav{
    margin-right: 60px;
}

}

@media only screen and (max-width: 960px) {
    header a img {
    height: 75px;
    margin: 6px 0 0 100px;
}
nav{
    margin-right: 50px;
}

}

@media only screen and (max-width: 1128px) {
    header a img {
    height: 75px;
    margin: 6px 0 0 100px;
}
nav{
    margin-right: 50px;
}

}

@media only screen and (max-width: 600px) {
    header a img {
    height: 50px;
    margin: 6px 0 0 40px;
}
}