.sidelinesbanner {
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
.sidelinesbanner img {
    max-width: 100%;
}

.sidelinescenterimage img {
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  display: block;
}

.sidelinestatement p {
  text-align: center;
}

.navlinks hr {
  width: 50%;
  margin-left: 370px;
  display: inline-block;
}

.navlinks li {
  float: left;
  padding: 10px;
  margin-right: 10px;
  font-weight: 700;
  font-size: large;
}

.navlinks ul {
  margin-left: 490px;
}

.sidelines-section {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
.cards {
  width: 300px;
  padding: 20px;
}
.cards:hover {
  box-shadow: 0 10px 10px 10px rbga(0, 0, 0, 0.1);
  cursor: pointer;
}
.image_box img {
  width: 300px;
  height: 280px;
}
.details p:nth-child(1) {
  font-weight: bold;
}
.details p:nth-child(2) {
  color: grey;
  font-size: 0.8rem;
}
.details p:nth-child(3) {
  font-weight: bolx;
  color: grey;
}
.details button {
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  background-color: skyblue;
  outline: none;
}